body{
    background-color: rgb(233, 229, 225);
}
/* main style */
main{
    width:95%;
    margin:0 auto;
    background-color: #FFF;
}
/*  container style */
.container{
    display: flex;
    gap: 20px;
}
.content{
    width:20%;
    background-color: blueviolet;
    justify-content: space-around;

}
/* media query for small devices*/
@media screen and (max-width:576px) {
    .container{
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
    }
    .content{
        width: 100%;
    }
}
/* media wuery for tablet devices */
@media screen and(min-width:577px) and(max-width:992px) {
    .container{
        flex-direction: column;
        grid-template-columns: repeat(2,1fr);
    }
    .content{
        width:50%;
        background-color: red;
    }
}